HUGGINGFACEHUB_API_TOKEN="your_huggingface_api_token"
ALPHA_VANTAGE_API_KEY="your_alpha_vantage_api_key"
NEWS_API_KEY="your_news_api_key"

# ML Model configuration
# "refined_regcn" or "gcnattn"
MODEL_VARIANT=refined_regcn
GROQ_API_KEY="your_groq_api_key"
