MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/MarketMind_db?appName=Cluster0
VITE_GOOGLE_CLIENT_ID=your-google-oauth-client-id.apps.googleusercontent.com
FINNHUB_API_KEY=your_finnhub_api_key
MARKETAUX_API_TOKEN=your_marketaux_api_token
